@model NewsItem
@{
    string strTitle = "Запропонуйте новину";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor5-build-classic/ckeditor.js"></script>
<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-controller="News" asp-action="Advise" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />
            <input type="hidden" asp-for="UprovedByAdmin" value=false />

            @*<div class="form-loging-style">
            <label asp-for="MessageForAdmin"></label>
            <br />
            <input asp-for="MessageForAdmin" />
        </div>*@
            <!--<div asp-validation-summary="All"></div>
            <div class="form-loging-style">
                <label asp-for="Title"></label>
                <br />
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>-->

            <div class="form-loging-style">
                <label asp-for="Title"></label>
                <br />
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>

            <div class="form-loging-style">
                <label asp-for="Text"></label>
                <br />
                <textarea asp-for="Text" name="Text" id="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="form-loging-style">
            <label asp-for="TitleImagePath"></label>
            <br />
            <input type="file" name="titleImageFile" id="titleImageFile" />
        </div>

            <input type="submit" value="Зберегти" />
        </form>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#Text'))
        .catch(error => {
            console.error(error);
        });
</script>