
@using asp_pract.Service
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <nav id="nav">
                        <a href="index.html"></a>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        <a asp-area="" asp-controller="News" asp-action="Index">Новини</a>
                        <a asp-area="" asp-controller="Services" asp-action="Index">Наші послуги</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                        <a asp-area="" asp-controller="News" asp-action="Advise">Подати новину</a>

                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>
