
@using asp_pract.Service
@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
<title>@Config.CompanyName Contacts</title>
<div>
    <h1>Contacts here you are</h1>
    @Html.Raw(Model.Text)
<div>
    <br />
    <h2>Як з нами зв'язатися?</h2>
    <p>Написати на пошту:</p>
    <p>@Config.CompanyEmail</p>
    <p>Зателефонувати:</p>
    <p>@Config.CompanyPhone</p>
    <p>Прийти особисто:</p>
    <p>м. Суми, вул. Чорновола 22</p>
</div>
</div>